# Dependencies
node_modules/
.venv/
env/
venv/
ENV/
bin/
lib/
share/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Vite / Build
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
